@import "./../../sassStyles/variables";

.bannerCarousel {
  &-heading {
    font-family: $montserrat-font-family;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    color: $grey-shade-1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -2%;
      width: 6px;
      height: 100%;
      background-color: $primary-color;
      border-radius: 5px;
    }
  }
}
