@import "./../../sassStyles/_variables.scss";

.header {
  padding: 1rem 0;
  box-shadow: $box-shadow;
  font-size: 0.9rem;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
}

.button-vendor {
  color: $primary-color;
  font-family: $montserrat-font-family;

  &:hover {
    text-decoration: none;
    color: $primary-color;
  }
}
