@import "bootstrap/dist/css/bootstrap.min.css";
@import "./../src/sass/variables";

body {
  font-family: $montserrat-font-family;
}

.custom-modal {
  .modal-header {
    border-bottom: none;
  }

  .modal-content {
    border-radius: 1rem;
    border: none;
    box-shadow: $box-shadow-modal;
  }
}

.signup {
  .modal-header {
    font-family: $montserrat-font-family;
    font-weight: 600;
    font-size: 1.5rem;
  }
}

.form-control,
.btn {
  &:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid $primary-color;
  }
}
