@import "bootstrap/dist/css/bootstrap.min.css";
@import "./../src/sass/variables";

.custom-modal {
  .modal-header {
    border-bottom: none;
  }
}

.signup {
  .modal-header {
    font-family: $montserrat-font-family;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .emailPopup {
    &__text {
      font-size: 0.8rem;
      margin-bottom: 7rem;

      span {
        color: $primary-color;
      }
    }
  }
}
